body {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.formulario{
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.cuadro-pregunta{
    background-color: lightcyan;
    width: 100%;
    height: 100px;
}