body {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.formulario {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
}

.button {
    display: inline-block;
    /* Permite que el enlace se comporte como un bloque en línea */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    /* Quita el subrayado por defecto */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}